<div class="wrapper">



  <nav class=" navbar navbar-expand navbar-gray navbar-light">

    <ul class="navbar-nav">

      <li class="nav-item d-none d-sm-inline-block">
        <a href="index3.html" class="nav-link text-light">Home</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="#" class="nav-link text-light">Contact</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="/AjouterClient" class="nav-link  text-light">Ajouter Client </a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="/ListerClient" class="nav-link  text-light">Lister Client </a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="/AjouterCommand" class="nav-link  text-light">Ajouter Command </a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="/ListerCommand" class="nav-link  text-light">Lister Command </a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">

      <li class="nav-item">
        <a class="nav-link" data-widget="navbar-search" href="#" role="button">
          <i class="fas fa-search"></i>
        </a>
        <div class="navbar-search-block">
          <form class="form-inline">
            <div class="input-group input-group-sm">
              <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
              <div class="input-group-append">
                <button class="btn btn-navbar" type="submit">
                  <i class="fas fa-search"></i>
                </button>
                <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </li>




      <li class="nav-item">
        <a class="nav-link" data-widget="fullscreen" href="#" role="button">
          <i class="fas fa-expand-arrows-alt"></i>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" data-widget="control-sidebar" data-controlsidebar-slide="true" href="#" role="button">
          <i class="fas fa-th-large"></i>
        </a>
      </li>
    </ul>
  </nav>









    <router-outlet></router-outlet>

  </div>




